{% extends 'post/main_base.html' %}

{% block title %}
    Admin
{% endblock %}

{% block aside %}
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'post:admin-dashboard' %}">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-person-plus-fill"></i><span>Manage Account</span><i
                        class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'post:admin-dashboard' %}?pages=reg_counter">
                            <i class="bi bi-circle"></i><span>Register Counter</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'post:admin-dashboard' %}?pages=reg_admin">
                            <i class="bi bi-circle"></i><span>Register Admin</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'post:admin-dashboard' %}?pages=reg_costumer">
                            <i class="bi bi-circle"></i><span>Register Costumer</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'post:admin-dashboard' %}?pages=reg_postman">
                            <i class="bi bi-circle"></i><span>Register Postman</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Components Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-people-fill"></i><span>Users</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'post:admin-dashboard' %}?pages=user_postman">
                            <i class="bi bi-circle"></i><span>Post man</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'post:admin-dashboard' %}?pages=user_counter">
                            <i class="bi bi-circle"></i><span>Counter</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'post:admin-dashboard' %}?pages=user_costumer">
                            <i class="bi bi-circle"></i><span>Costumer</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'post:admin-dashboard' %}?pages=user_admin">
                            <i class="bi bi-circle"></i><span>Admin</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Manage</span><i
                        class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'post:admin-dashboard' %}?pages=mail_cost">
                            <i class="bi bi-circle"></i><span>Mail cost</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'post:admin-dashboard' %}?pages=add_photo">
                    <i class="bi bi-file-earmark-arrow-up-fill"></i>
                    <span>Add Photos</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'post:admin-dashboard' %}?pages=view_feedback">
                    <i class="bi bi-collection"></i>
                    <span>View Feedback</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'post:admin-dashboard' %}?pages=generate_report">
                    <i class="bi bi-receipt-cutoff"></i>
                    <span>Generate Report</span>
                </a>
            </li>
        </ul>

    </aside>
{% endblock %}

{% block header %}
    Admin page
{% endblock %}

{% block middle_breadcrumb %}
    admin
{% endblock %}

{% block active_breadcrumb %}
    {% if page == 'add_photo' %}
        upload photo
    {% elif page == 'profile' %}
        profile
    {% elif page|slice:":3" == "reg" or rf_form %}
        registration
    {% elif page|slice:':4' == 'user' or page == None %}
        user
    {% elif page == 'generate_report' %}
        report
    {% elif page == 'view_feedback' %}
        feedback
    {% elif page == 'mail_cost' %}
        mail
    {% else %}
        dashboard
    {% endif %}
{% endblock %}

{% block middle %}
    {% load static %}
    {% if page == 'add_photo' %}
        <div class="row justify-content-center">
            <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
                <div class="card mb-3">

                    <div class="card-body">

                        <div class="pt-4 pb-2">
                            {% if messages %}
                                {% for message in messages %}

                                    {% if message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}
                                        <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
                            <div class="swal2-success-circular-line-left"
                                 style="background-color: rgb(255, 255, 255);"></div>
                            <span class="swal2-success-line-tip"></span>
                            <span class="swal2-success-line-long"></span>
                            <div class="swal2-success-ring"></div>
                            <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                            <div class="swal2-success-circular-line-right"
                                 style="background-color: rgb(255, 255, 255);"></div>
                            </div>
                                      {% endif %}

                                <h5 class="card-title text-center text-success">Your image successful uploaded. {{ message }}</h5>


                                {% endfor %}
                            {% endif %}

                            <h5 class="card-title text-center pb-0 fs-4">Upload memorial photos</h5>
                            <p class="text-center small">Enter title, caption & image to upload</p>
                        </div>



                        <form method="post" action="" enctype="multipart/form-data" class="row g-3 needs-validation"
                              novalidate>
                            {% csrf_token %}
                            <div class="col-12">
                                <label for="yourtitle" class="form-label">Title</label>
                                <input type="text" name="title" class="form-control" id="yourtitle" required>
                                <div class="invalid-feedback">Please enter the title!</div>
                            </div>

                            <div class="col-12">
                                <label for="yourcaption" class="form-label">Caption</label>
                                <input type="text" name="caption" class="form-control" id="yourcaption" required>
                                <div class="invalid-feedback">Please enter the caption!</div>
                            </div>

                            <div class="col-12">
                                <label for="yourimage" class="form-label">Photo</label>
                                <input type="file" name="image" class="form-control" id="yourimage" required>
                                <div class="invalid-feedback">Please enter the photos!</div>
                            </div>
                            <div class="col-12">
                                <button name="photo_upload" class="btn btn-primary w-100" type="submit">Upload</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% elif page == 'profile' %}
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="{% static 'assets/img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
                        <h2>{{ user.first_name }} {{ user.middle_name }}</h2>
                        <h3>{% if user.is_costumer == True %}
                                Costumer
                            {% elif user.is_admin == True %}
                                Admin
                            {% elif user.is_postman == True %}
                                Post Man
                            {% elif user.is_counter == True %}
                                Counter
                        {% endif %} </h3>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">
                                    Overview
                                </button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit
                                    Profile
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">
                                    Change Password
                                </button>
                            </li>

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                <h5 class="card-title">Profile Details</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                    <div class="col-lg-9 col-md-8">{{ user.first_name }} {{ user.middle_name }} {{ user.last_name }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Company</div>
                                    <div class="col-lg-9 col-md-8">Ethiopian Post Service</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Job</div>
                                    <div class="col-lg-9 col-md-8">{% if user.is_costumer == True %}
                                                                        Costumer
                                                                    {% elif user.is_admin == True %}
                                                                        Admin
                                                                    {% elif user.is_postman == True %}
                                                                        Post Man
                                                                    {% elif user.is_counter == True %}
                                                                        Counter
                                                                {% endif %} </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Sex</div>
                                    <div class="col-lg-9 col-md-8">{{ user.sex }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Address</div>
                                    <div class="col-lg-9 col-md-8">{{ user.address }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Phone</div>
                                    <div class="col-lg-9 col-md-8">{{ user.phone }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-lg-9 col-md-8">{{ user.email }}</div>
                                </div>

                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">


                                <form >
                                    <div class="row mb-3">
                                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile
                                            Image</label>
                                        <div class="col-md-8 col-lg-9">
                                            <img src="{% static 'assets/img/profile-img.jpg' %}" alt="Profile">
                                            <div class="pt-2">
                                                <a href="#" class="btn btn-primary btn-sm"
                                                   title="Upload new profile image"><i class="bi bi-upload"></i></a>
                                                <a href="#" class="btn btn-danger btn-sm"
                                                   title="Remove my profile image"><i class="bi bi-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="fullName" type="text" class="form-control" id="fullName"
                                                   value="Kevin Anderson">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea name="about" class="form-control" id="about"
                                                      style="height: 100px">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</textarea>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="company" class="col-md-4 col-lg-3 col-form-label">Company</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="company" type="text" class="form-control" id="company"
                                                   value="Lueilwitz, Wisoky and Leuschke">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">Job</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="job" type="text" class="form-control" id="Job"
                                                   value="Web Designer">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Country" class="col-md-4 col-lg-3 col-form-label">Country</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="country" type="text" class="form-control" id="Country"
                                                   value="USA">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="address" type="text" class="form-control" id="Address"
                                                   value="A108 Adam Street, New York, NY 535022">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="phone" type="text" class="form-control" id="Phone"
                                                   value="(436) 486-3538 x29071">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="email" type="email" class="form-control" id="Email"
                                                   value="k.anderson@example.com">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Twitter
                                            Profile</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="twitter" type="text" class="form-control" id="Twitter"
                                                   value="https://twitter.com/#">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">Facebook
                                            Profile</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="facebook" type="text" class="form-control" id="Facebook"
                                                   value="https://facebook.com/#">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Instagram
                                            Profile</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="instagram" type="text" class="form-control" id="Instagram"
                                                   value="https://instagram.com/#">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Linkedin
                                            Profile</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="linkedin" type="text" class="form-control" id="Linkedin"
                                                   value="https://linkedin.com/#">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade pt-3" id="profile-change-password">
                                <form method="post" action="{% url 'account:update_password' user.id %}">
                                    {% csrf_token %}
                                    <div class="row mb-3">
                                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current
                                            Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="current_password" type="password" class="form-control"
                                                   id="currentPassword" required>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New
                                            Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="new_password" type="password" class="form-control"
                                                   id="newPassword" required>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="renew_password" class="col-md-4 col-lg-3 col-form-label">Re-enter New
                                            Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="renew_password" type="password" class="form-control"
                                                   id="renewPassword" required>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" name="password_update" class="btn btn-primary">Change Password</button>
                                    </div>
                                </form>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    {% elif page|slice:":3" == "reg" or rf_form %}
        <div class="row justify-content-center">
            <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                            <p class="text-center small">Enter your personal details to create account</p>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="text-center text-
                                            {% if message.tags %}{{ message.tags }}{% endif %} font-monospace fs-5">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <form method="post" action="" class="row g-3 needs-validation" novalidate>
                            {% csrf_token %}
                            {% for form in rf_form %}
                                <div class="col-12">
                                    <label for="{{ form.id_for_label }}" class="form-label">{{ form.label }}</label>
                                    {{ form }}
                                    <div class="invalid-feedback">Please, enter your {{ form.label }}!</div>
                                </div>
                            {% endfor %}

                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" name="terms" type="checkbox" checked
                                           id="acceptTerms" required>
                                    <label class="form-check-label" for="acceptTerms">I agree and accept the <a
                                            href="#">terms and conditions</a></label>
                                    <div class="invalid-feedback">You must agree before submitting.</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100" type="submit">Create Account</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% elif page|slice:':4' == 'user' or page == None %}
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
                    <div class="card-body">
                        <h5 class="card-title pl-3">List of users.</h5>
                        <div class="card">
                            <div class="card-body mt-3">
                                <a href="{% url 'post:admin-dashboard' %}?pages=user_admin" class="btn btn-info btn-sm">Admin</a>
                                <a href="{% url 'post:admin-dashboard' %}?pages=user_costumer"
                                   class="btn btn-secondary btn-sm">Costumer</a>
                                <a href="{% url 'post:admin-dashboard' %}?pages=user_postman"
                                   class="btn btn-success btn-sm">Postman</a>
                                <a href="{% url 'post:admin-dashboard' %}?pages=user_counter"
                                   class="btn btn-warning btn-sm">Counter</a>
                            </div>
                        </div>
                        <table class="table datatable">
                            <thead>
                            <tr>
                                <th scope="col">#(id)</th>
                                <th scope="col">Full name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Sex</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Address</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <th scope="row">{{ user.id }}</th>
                                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.sex }}</td>
                                    <td>{{ user.phone }}</td>
                                    <td>{{ user.address }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>


                    </div>
                </div>

            </div>
        </div>
    {% elif page == 'generate_report' %}
        <h2>Sorry we add template soon.</h2>
    {% elif page == 'view_feedback' %}
        <div class="row">
            <div class="col-lg-9">
                <h5 class="card-title">Feedback's</h5>
                <div class="card">
                    <div class="card-body pt-4">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                    <div class="card-footer">
                        <span style="float: right;margin-right: 20px;">By Esubalew on 2010-34-12</span>
                    </div>
                </div>
            </div>
        </div>
    {% elif page == 'mail_cost' %}
        <div class="row">
            <div class="col-lg-9">
                <h5 class="card-title">Update the fee of post based on length.</h5>
                <div class="card">
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="card-body pt-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="length" class="form-control" placeholder="distance in km.">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="cost" class="form-control" placeholder="Cost in birr.">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <span style="float: right;margin-right: 40px;"><button name="mail_cost"
                                                                                   class="mb-2 btn btn-sm btn-success"
                                                                                   type="submit">Update</button></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}